@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-1: "poppins", sans-serif;

$color-1: #fd2d01;
$color-2: #036bfc;
$color-3: #ffd7d7;
$color-4: #252525;
$color-5: #616161;
$color-6: #ffffff;

$border-radius: 0.8rem;

* {
	font-family: $font-1;
	color: #252525;
	box-sizing: border-box;
}

body {
	color: $color-4;
}

// .container {
// 	padding-left: 14px;
// 	padding-right: 14px;
// 	max-width: 1200px;
// 	// margin: 0.4rem auto;
// 	margin-left: auto;
// 	margin-right: auto;

// }

li {
	list-style: none;
}

.bg-img {
	position: right;	
}