@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$font-1: "poppins", sans-serif;

$color-1: #fd2d01;
$color-2: #036bfc;
$color-3: #ffd7d7;
$color-4: #252525;
$color-5: #616161;
$color-6: #ffffff;

$border-radius: 0.8rem;

* {
	font-family: $font-1;
	color: #252525;
	box-sizing: border-box;
}

body {
	color: $color-4;
	// background-image: url("../assets/icon.svg");
	background-image: url("../assets/logo-background.png");
	background-repeat: no-repeat;
	background-size: 80% ;
	background-position: top -10vh right -130%;
	background-attachment:fixed;
	height: 100vh;
	width: 100vw;

}

li {
	list-style: none;
}

.bg-img {
	position: right;	
}