
.post-card {
    height: 300px;
    padding: 0.7rem;
}


@media screen and (min-width: 500px) {
    .articles-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;       
    }  
}