.article {

	&__date {
		font-size: 0.8rem;
	}

	&--card{
		height: 450px;
	
		.card-text {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&--page{
		max-width: 800px;
		width: 100%;
	}
}
