
.articleForm {

    border-radius: 20px;

    .textInput, .ytInput {
        border: $color-3 solid 2px;
        &:focus {
            box-shadow: none;
			outline: none;
			background-position: 0 0;
            border: darken($color: $color-3, $amount: 10) solid 2.5px; 
            &::placeholder{
                font-size: 0rem;
            }
        }
    }

    .textInput {
        width: 100%;
        border-radius: 20px;
        min-height: 120px;

        &::placeholder {
            color: $color-2;
			font-size: 16px;
        }
    }
    
    .ytInput {
        margin-left: 15px;
        margin-right: 55px;
        padding-left: 10px;
        border-radius: 20px;
        width: 100%;
    }

    button {
        display: block;
        margin: auto;
        
    }
}