.card-article {
	height: 450px;

	a {
		text-decoration: none;
	}

	&--date {
		font-size: 0.7rem;
		font-style: italic;
	}

	.card-text {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
