button {
	font-size: 1.3rem;
	border: none;
	outline: none;
	background-color: $color-2;
	color: white;
	border-radius: $border-radius;
	padding: 0.4rem 1rem 0.4rem 1rem;
}

a:hover,
button:hover {
	cursor: pointer;
}

a:active,
button:active {
	transform: translateY(2px);
	box-shadow: #00093d86 0px 4px 8px 0px;
}

a:visited {
	$color-5: #616161;
}