.header {
	background-color: $color-2;

	.navbar-brand {
		margin-left: 10px;

		&:focus,
		&:active {
			outline: solid 2px $color-3;
		}

		&__logo {
			height: 34px;
			border-radius: 50%;
			margin-left: 10px;
			&:hover,
			&:focus,
			&:active {
				border: solid 2px $color-2;
				outline: none;
			}
		}
	}

	.nav-link--icon {
		// padding-top: 0.5rem;
		// padding-bottom: 0.5rem;

		&:hover,
		&:focus,
		&:active {
			border-bottom: none;
			box-shadow: none;
			outline: none;

			.nav-svg-icon {
				border-bottom: none;
				filter: invert(96%) sepia(18%) saturate(1842%) hue-rotate(291deg) brightness(111%) contrast(107%);
				width: 26px;
				outline: none;
			}
		}

		.nav-svg-icon {
			filter: brightness(0) invert(1);
			width: 1.6rem;
			height: 1.6rem;
			margin-right: 20px;
			&:hover,
			&:focus,
			&:active {
				border-bottom: none;
				filter: invert(96%) sepia(18%) saturate(1842%) hue-rotate(291deg) brightness(111%) contrast(107%);
				width: 26px;
				outline: none;
			}
		}
	}

	.nav-link--custom,
	.nav-burger--custom {
		font-size: 1.1rem;
		color: white;
		outline: none;

		&:hover,
		&:focus,
		&:active {
			color: $color-3;
			outline: none;
			box-shadow: none;
		}
	}
	.nav-burger--custom {
		&:hover,
		&:focus,
		&:active {
			font-size: 1.12rem;
		}
	}
}
