.header {
	background-color: $color-2;

	.navbar-brand{
		margin-left: 10px;
		&:focus,
		&:active {
			outline: solid 2px $color-3;
		}
	}
	
	.nav-logo {
		height: 50px;
		border-radius: 50%;
		&:hover,
		&:focus,
		&:active {
			border: solid 2px $color-2;
			outline: none;
		}
	}

	.nav-link-custom {
		&:hover,
		&:focus,
		&:active {
			border-bottom: solid 1px $color-3;
		}
	}

	.nav-link-custom, .nav-burger-custom {
		font-size: 1.1rem;
		color: white;
		margin-left: 40px;
		border-bottom: solid 1px $color-2;
		outline: none;	

		&:hover,
		&:focus,
		&:active {
			color: $color-3;
			outline: none;	
			box-shadow: none;

		}
	}
}

