.header {
	background-color: $color-2;

	.navbar-brand {
		margin-left: 15px;
		position: relative;
		height: 34px;
		width: 34px;

		&:focus,
		&:active {
			outline: none;
			border: none;
			box-shadow: 0 0 4px 1px rgb(63, 63, 63);
			border-radius: 50%;
		}

		&__logo {
			position: absolute;
			top: 0;
			height: 34px;
			border-radius: 50%;
			&:hover,
			&:focus,
			&:active {
				outline: none;
				box-shadow: 0 0 4px 1px rgb(90, 90, 90);
				border-radius: 50%;
			}
		}
	}

	.nav-btn-icon {
		background: none;

		&:hover,
		&:focus,
		&:active {
			border-bottom: none;
			box-shadow: none;
			outline: none;

			.nav-svg-icon {
				border-bottom: none;
				filter: invert(96%) sepia(18%) saturate(1842%) hue-rotate(291deg) brightness(111%) contrast(107%);
				width: 26px;
				outline: none;
			}
		}
		 
		.nav-svg-icon {
			filter: brightness(0) invert(1);
			width: 1.6rem;
			height: 1.6rem;
			margin-right: 20px;
			&:hover,
			&:focus,
			&:active {
				border-bottom: none;
				filter: invert(96%) sepia(18%) saturate(1842%) hue-rotate(291deg) brightness(111%) contrast(107%);
				width: 26px;
				outline: none;
			}
		}
	}

	.nav-link--custom,
	.nav-burger--custom {
		font-size: 1.1rem;
		color: white;
		outline: none;

		&:hover,
		&:focus,
		&:active {
			color: $color-3;
			outline: none;
			box-shadow: none;
		}
	}
	.nav-burger--custom {
		&:hover,
		&:focus,
		&:active {
			font-size: 1.12rem;
		}
	}
}
