.profile-picture {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: solid 3px $color-3;
	height: 7rem;
	width: 7rem;
	padding-right: 0 !important;
	padding-left: 0 !important;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 7rem;
	}

	&--mini {
		margin-right: 15px;
		height: 2.5rem;
		width: 2.5rem;
		img {
			width: 2.5rem;
		}
	}
}
